<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
		<add key="frommailaddress" value="hsc@sscompusoft.com"/>
		<add key="Port" value="25"/>
		<add key="hostname" value="mail.gmail.com"/>
		<add key="smtp" value="smtp.gmail.com"/>
		<add key="mailServer" value="mail.gmail.com"/>
		<add key="userid" value="hsc@sscompusoft.com"/>
		<add key="pwd" value="sscompu@54321"/> 
		<add key="siteurl" value="https://www.sniggle.in/" /> 
		<add key="smallUpload_dir" value="C:/HostingSpaces/admin/sniggle.in/wwwroot/img/" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
		<pages enableEventValidation="false" />
		<customErrors mode="Off" />
		<httpHandlers>
			<add path="*.html" type="System.Web.UI.PageHandlerFactory" verb="*" />
		</httpHandlers>
		<!--<httpModules>
      <add name="URLRewriter" type="URLRewriter"/>
</httpModules>-->
	</system.web> 
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=43.231.126.211;Initial Catalog=aa_sniggle_db;User ID=sniggle_user;Password=Jpr@#1234;" providerName="System.Data.SqlClient" /> 
	</connectionStrings>
	<system.webServer>
		<!--<rewrite>
			<rules>
				<rule name="CanonicalHostNameRule1">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^sniggle\.in" negate="true" />
					</conditions>
					<action type="Redirect" url="https://sniggle.in/{R:1}" />
				</rule>
				<rule name="Force HTTPS" enabled="true">
					<match url="(.*)" ignoreCase="false" />
					<conditions>
						<add input="{HTTPS}" pattern="off" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
				</rule>
			</rules>
		</rewrite>-->
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true"></modules>
		<handlers>
			<remove name="UrlRoutingHandler" />
		</handlers>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2147483648" />
			</requestFiltering>
		</security>
		<directoryBrowse enabled="false" />
		<defaultDocument>
			<files>
				<clear />
				<add value="index.aspx" />
				<add value="Default.htm" />
				<add value="Default.asp" />
				<add value="index.htm" />
				<add value="index.html" />
				<add value="iisstart.htm" />
				<add value="default.aspx" />
				<add value="index.php" />
			</files>
		</defaultDocument>
		<httpErrors errorMode="Custom" defaultResponseMode="ExecuteURL">
			<remove statusCode="500" subStatusCode="100" />
			<remove statusCode="500" subStatusCode="-1" />
			<remove statusCode="404" subStatusCode="-1" />
			<error statusCode="404" path="/404.aspx" responseMode="ExecuteURL" />
			<error statusCode="500" prefixLanguageFilePath="" path="/404.aspx" responseMode="ExecuteURL" />
			<error statusCode="500" subStatusCode="100" path="/404.aspx" responseMode="ExecuteURL" />
		</httpErrors>
		<urlCompression doStaticCompression="true" doDynamicCompression="true" />
	</system.webServer>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="50000000" />
			</webServices>
		</scripting>
	</system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.10.0" newVersion="4.0.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.13.2" newVersion="5.5.13.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
